<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:custom="http://www.example.org/schema/custom"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.example.org/schema/custom
   http://www.example.org/schema/custom/custom.xsd">

    <custom:custom-tag id="customBean1" name="aric" age="18" />
    <custom:custom-tag id="customBean2" name="ke" age="28" />
</beans>
